# ==== Core Packages ====
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.4.2

# ==== Experiment Tracking ====
mlflow==2.13.0

# ==== Model Deployment ====
fastapi==0.111.0
uvicorn[standard]==0.30.1

# ==== Plotting ====
matplotlib==3.8.4
seaborn==0.13.2

# ==== Testing ====
pytest==8.2.2

# ==== Type Checking & Formatting ====
mypy==1.10.0
flake8==7.0.0
black==24.4.2

# ==== Config Files ====
pyyaml==6.0.1

# ==== Dataset Download ====
kaggle==1.6.12
